[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.1.2"
dnspython = "==1.16.0"
eventlet = "==0.28.0"
flask-socketio = "==4.3.1"
gevent-websocket= "==0.10.1"
greenlet = "==0.4.17"
itsdangerous = "==1.1.0"
markupsafe = "==1.1.1"
monotonic = "==1.5"
numpy = "==1.18.5"
opencv-python = "==4.4.0.42"
python-engineio = "==3.13.2"
python-socketio = "==4.6.0"
six = "==1.15.0"
websocket-client = "==0.57.0"
"zope.event" = "==4.5.0"
"zope.interface" = "==5.1.2"
tensorflow = "==1.2.1"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
Werkzeug = "==1.0.1"
imageio = "==2.6.0"
pillow = "==6.2.0"

[requires]
python_version = "3.5"
